<!DOCTYPE html>
<html lang="en">
    <head>
        <title>feedReader - RSS Feed Reader</title>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{url_for('static', filename='frontend-scripts.js')}}"></script>
    </head>
    <body onload="getAmount()">
        <div id="articleAmount"></div>

        {% if settings.auto_refresh_feeds == 'True' %}
            {% set time = settings.refresh_feeds_interval_in_seconds %}
            <meta http-equiv="refresh" content="{{ time }}">
        {% endif %}
        
        {% if settings.hide_refresh_button == 'False' %}
            <a class="floater" href="http://127.0.0.1:5000/"> 🔄 </a>
        {% endif %}

        <label for="sortSelection" class="bottom-text">Articles by:</label>

        <select name="sortSelection" id="sortSelection">
            <option>All</option>
            <!-- 
                For this to work, we'll have to visit an endpoint that tells flask
                which option within the dropdown is set, then we'll have to set a
                variable or file that's readable everywhere, to tell the feed reader to
                change the SQL query that contains what to select.

                dropdown select -> ENDPOINT:changesort/ -> change SQL -> refresh index
                with new SQL
            -->
            {% for title in uniqueTitles %}
                <option>{{ title }}</option>
            {% endfor  %}
        </select>

        {% for item in articles %}
        <div class="articles">
            <a href ="{{ item[4] }}" target="_blank" rel="noopener noreferrer" class="title-text" >{{ item[0] }}</a>
            <br>
            <a class="bottom-text"> {{ item[5] }} / </a>
            <a class="bottom-text"> {{ item[1] }}   </a> 
            <details>
                <summary>
                </summary>
                    <p class="summary-text" target="_blank" rel="noopener noreferrer">
                        {{ item[3]|safe }}
                        <br>
                    </p>
            </details>
        </div>
        <br>
        {% endfor %}  
    </body>
</html>
